{% extends 'layout.html' %}

{% block title %}Index{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
<div class="row">
  <p>Hello{% if request.user.is_authenticated %} {{ request.user.username }}{% endif %},</p>
</div>
<div class="row">
  <p>Welcome to my quiz website!</p>
</div>
<div class="row">
  <p>Test Yourself</p>
</div>
<div class="row">
  <p>Join me on this exciting journey of exploration and let's enhance our knowledge together.</p>
  <p>
    BeyondLimit ltd
  </p>
  <p>Happy quizzing!</p>
</div>
<div class="row">
  <p>~<em>Zino</em></p>
</div>
</div>
{% endblock %}
